<!DOCTYPE html>
<html>
    <head>
        {% block document_head %}
            {% include '::head.html.twig' %}

            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock document_head %}
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                {% include "::navbar.html.twig" %}
            {% endblock navbar %}
            <div class="container">
                {% block container %}

                {% endblock container %}
            </div><!-- /.container -->
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery.js"></script>
            <script src="{{ asset('/js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
